@media (max-width: 769px){
    .posicao{
        position:unset;
        padding: 20px;
        width:200px
        
    }
    .posicao1{
        top: 10vh;
        left: 30vh;
    }
    .d {
        display: flex;
        flex-direction: column;
        
    }
    .d1{
        margin: 0%;
    }

}