/*
============== PALETA DE CORES =================
FONTE: FLAMA

PALETA DE CORES:

VERDE:   #DEFAE7 #B5FFCB #89C79C #48945F #1C6030
                                           base

AMARELO: #D6A426 #A3873E #706341 #3D3930 #33302A
          base
          
BRANCO: #fefefe 

================================================
*/
html,body{
    background-image: url(../img/background.png);
}

@font-face{
    font-family: "Flama", sans-serif;
    src:url('fonts/Flama Regular.otf');
    font-weight: normal;
    font-size: normal;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Flama", sans-serif;
}
.d{
   display: flex; 

}
.d1{
    margin: 15px;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    background: #f4dda8;
   
    
}
.login-form-1 h3{
    text-align: center;
  
}
.login-form-2{
    padding: 5%;
    background: #fff;
  
}
.login-form-2 h3 {
    font-family: FLAMA;
    
    color: #89C79C;
}
.login-form-2 h4 {
    font-family: FLAMA;
    text-align: center;
    color: #89C79C;
}

.login-container form{
    padding: 10%;
}
.botao
{

    width: 50%;
    padding: 1.5%;
    cursor: pointer;
}
.login-form-2 .botao{
       color: #fff;
       width: 190px;
        height: 51px;
        font-family: Flama;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #89c79c;
        border-color: #89c79c
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.form-control{
    padding: 7px 0;
    font-family: Flame;
    border: none;
    border-bottom: 1px solid #89c79c ;
    border-radius: 0%;
    box-shadow: none;
    font-size: 20px;
}
.form-control:focus{
    background-color: #fff;
    border-bottom: 1px solid #89c79c ;
    box-shadow: none;
    font-size: 20px;

  
}
.form-control::placeholder{

color: #89c79c;
font-size: 20px;
margin: 0;
padding: 0;

}
.posicao{
    position: relative;
    top: 25vh;
    width: 300px;
}
.posicao1{
    position: relative;
  top: 15vh;
  left: 40vh;

}
